# Local .terraform directories (裝著依賴套件，容量很大沒有必要上傳)
**/.terraform/*

# .tfstate files (最核心的禁忌！裡面可能會有未加密的資料庫密碼，絕對禁止推上 Git)
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# 敏感的變數檔案 (如果你有放密碼的檔案，絕對不能上傳)
*secret*.tfvars

.DS_Store
.DS_Store
